* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #DDD;
  position: relative;
  width: 100vw; height: 100vh;
}

#calculator {
  background-color: #EEE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px; height: 480px;
  display: grid;
  grid-template-areas: "display"
                       "buttons";
  grid-template-rows: 1fr 4fr;
  margin: 0;
  padding: 5%;
}

#display {
  grid-area: display;
  border: 1px solid #CCC;
  margin-bottom: 5%;
  font-family: monospace;
  text-align: end;
  font-size: 50px;
}

#buttons {
  grid-area: buttons;
  display: grid;
  grid-template-areas: "clear back divide multiply"
                       "seven eight nine subtract"
                       "six five four add"
                       "three two one add"
                       "zero zero decimal equals";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button:active {box-shadow: 0 0 2px 2px #9EFDFF;}
.button {
  margin: 0.1em;
  font-size: 30px;
}
.number {background-color: white;}
.sign {background-color: #CCC;}
.clear {background-color: pink;}
.other {background-color: #DDD;}

#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#decimal {grid-area: decimal;}
#divide {grid-area: divide;}
#multiply {grid-area: multiply;}
#subtract {grid-area: subtract;}
#add {grid-area: add;}
#equals {grid-area: equals;}
#clear {grid-area: clear;}
#back {grid-area: back;}
